In [131]:
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st
from scipy.stats import linregress
pd.options.mode.chained_assignment = None

In [132]:
avocado = pd.read_csv("Project Resources/Avocado.csv")
avocado.head()

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,conventional,2015,Albany
1,2015-01-11,1.24,41195.08,1002.85,31640.34,127.12,8424.77,8036.04,388.73,0.0,conventional,2015,Albany
2,2015-01-18,1.17,44511.28,914.14,31540.32,135.77,11921.05,11651.09,269.96,0.0,conventional,2015,Albany
3,2015-01-25,1.06,45147.50,941.38,33196.16,164.14,10845.82,10103.35,742.47,0.0,conventional,2015,Albany
4,2015-02-01,0.99,70873.60,1353.90,60017.20,179.32,9323.18,9170.82,152.36,0.0,conventional,2015,Albany

In [133]:
hass2020 = pd.read_csv("Project Resources/Hass.csv", thousands=',')
hass2020["Week"] = pd.to_datetime(hass2020["Week"], infer_datetime_format=True, 
                                  format="%Y/%m/%d")
hass2020['Total Volume'] = pd.to_numeric(hass2020['Total Volume'])
hass2020['California'] = pd.to_numeric(hass2020['California'])
hass2020['Chile'] = pd.to_numeric(hass2020['Chile'])
hass2020['Mexico'] = pd.to_numeric(hass2020['Mexico'])
hass2020['Peru'] = pd.to_numeric(hass2020['Peru'])
hass2020['Colombia'] = pd.to_numeric(hass2020['Colombia'])
hass2020.head()

,Week,Status,Total Volume,California,Chile,Mexico,Peru,Colombia
0,2020-01-05,Actual,32537444,37220,159041,32291182,0,50000
1,2020-01-12,Actual,65307572,319866,177780,64809925,0,0
2,2020-01-19,Actual,76375629,1604707,222755,74498167,0,50000
3,2020-01-26,Actual,66647112,2822485,0,63774627,0,50000
4,2020-02-02,Actual,45414983,2704489,0,42710494,0,0

In [134]:
hass2020.dtypes

Week            datetime64[ns]
Status                  object
Total Volume             int64
California               int64
Chile                    int64
Mexico                   int64
Peru                     int64
Colombia                 int64
dtype: object

In [135]:
hass2017 =pd.read_csv("Project Resources/2017_Volume_Hass.csv", thousands=',')
hass2017["Week"] = pd.to_datetime(hass2017["Week"], infer_datetime_format=True, 
                                  format="%Y/%m/%d")
hass2017['Total Volume'] = pd.to_numeric(hass2017['Total Volume'])
hass2017['California'] = pd.to_numeric(hass2017['California'])
hass2017['Chile'] = pd.to_numeric(hass2017['Chile'])
hass2017['Mexico'] = pd.to_numeric(hass2017['Mexico'])
hass2017['Peru'] = pd.to_numeric(hass2017['Peru'])
hass2017['Colombia'] = pd.to_numeric(hass2017['Colombia'])
hass2017.head()

,Week,Status,Total Volume,California,Chile,Mexico,Peru,Colombia
0,2017-01-01,Actual,35100521,49737,1023459,34027325,0,0
1,2017-01-08,Actual,40920289,157060,1526467,39236762,0,0
2,2017-01-15,Actual,53723606,215612,1468592,52039402,0,0
3,2017-01-22,Actual,55606793,827113,1445898,53333782,0,0
4,2017-01-29,Actual,44287021,1027998,1111063,42147960,0,0

In [136]:
hass2017.dtypes

Week            datetime64[ns]
Status                  object
Total Volume             int64
California               int64
Chile                    int64
Mexico                   int64
Peru                     int64
Colombia                 int64
dtype: object

In [137]:
hass2018 =pd.read_csv("Project Resources/2018_Volume_Hass.csv", thousands=',')
hass2018["Week"] = pd.to_datetime(hass2018["Week"], infer_datetime_format=True, 
                                  format="%Y/%m/%d")
hass2018['Total Volume'] = pd.to_numeric(hass2018['Total Volume'])
hass2018['California'] = pd.to_numeric(hass2018['California'])
hass2018['Chile'] = pd.to_numeric(hass2018['Chile'])
hass2018['Mexico'] = pd.to_numeric(hass2018['Mexico'])
hass2018['Peru'] = pd.to_numeric(hass2018['Peru'])
hass2018['Colombia'] = pd.to_numeric(hass2018['Colombia'])
hass2018.head()

,Week,Status,Total Volume,California,Chile,Mexico,Peru,Colombia
0,2018-01-07,Actual,45670156,899349,519433,44251374,0,0
1,2018-01-14,Actual,52758905,830821,449003,51479081,0,0
2,2018-01-21,Actual,54698266,2913663,445127,51339476,0,0
3,2018-01-28,Actual,45299201,2698356,95491,42505354,0,0
4,2018-02-04,Actual,47371481,2635471,0,44736010,0,0

In [138]:
hass2019 = pd.read_csv("Project Resources/2019_Volume_Hass.csv", thousands=',')
hass2019["Week"] = pd.to_datetime(hass2019["Week"], infer_datetime_format=True, 
                                  format="%Y/%m/%d")
hass2019['Total Volume'] = pd.to_numeric(hass2019['Total Volume'])
hass2019['California'] = pd.to_numeric(hass2019['California'])
hass2019['Chile'] = pd.to_numeric(hass2019['Chile'])
hass2019['Mexico'] = pd.to_numeric(hass2019['Mexico'])
hass2019['Peru'] = pd.to_numeric(hass2019['Peru'])
hass2019['Colombia'] = pd.to_numeric(hass2019['Colombia'])
hass2019.head()

,Week,Status,Total Volume,California,Chile,Mexico,Peru,Colombia
0,2019-01-06,Actual,39644522,0,1111244,38533278,0,0
1,2019-01-13,Actual,73115987,71558,1154459,71889970,0,0
2,2019-01-20,Actual,73262502,35452,681725,72545325,0,0
3,2019-01-27,Actual,59200492,306018,676866,58217608,0,0
4,2019-02-03,Actual,45231823,225945,584756,44421122,0,0

In [139]:
hass = pd.concat([hass2020, hass2017, hass2018, hass2019], axis=0, join="outer", ignore_index=False)
hass.head()

,Week,Status,Total Volume,California,Chile,Mexico,Peru,Colombia
0,2020-01-05,Actual,32537444,37220,159041,32291182,0,50000
1,2020-01-12,Actual,65307572,319866,177780,64809925,0,0
2,2020-01-19,Actual,76375629,1604707,222755,74498167,0,50000
3,2020-01-26,Actual,66647112,2822485,0,63774627,0,50000
4,2020-02-02,Actual,45414983,2704489,0,42710494,0,0

In [140]:
cln_hass = hass.loc[hass['Status'] == "Actual"]
cln_hass.head()

,Week,Status,Total Volume,California,Chile,Mexico,Peru,Colombia
0,2020-01-05,Actual,32537444,37220,159041,32291182,0,50000
1,2020-01-12,Actual,65307572,319866,177780,64809925,0,0
2,2020-01-19,Actual,76375629,1604707,222755,74498167,0,50000
3,2020-01-26,Actual,66647112,2822485,0,63774627,0,50000
4,2020-02-02,Actual,45414983,2704489,0,42710494,0,0

In [141]:
cln_hass.dtypes

Week            datetime64[ns]
Status                  object
Total Volume             int64
California               int64
Chile                    int64
Mexico                   int64
Peru                     int64
Colombia                 int64
dtype: object

In [142]:
Tot_Cali2017 = hass2017["California"].sum()
Tot_Cali2018 = hass2018["California"].sum()
Tot_Cali2019 = hass2019["California"].sum()
Tot_Cali2020 = hass2020["California"].sum()
Tot_Cali = Tot_Cali2017 + Tot_Cali2018 + Tot_Cali2019 + Tot_Cali2020

Tot_Chile2017 = hass2017["Chile"].sum()
Tot_Chile2018 = hass2018["Chile"].sum()
Tot_Chile2019 = hass2019["Chile"].sum()
Tot_Chile2020 = hass2020["Chile"].sum()
Tot_Chile = Tot_Chile2017 + Tot_Chile2018 + Tot_Chile2019 +Tot_Chile2020

Tot_Mex2017 = hass2017["Mexico"].sum()
Tot_Mex2018 = hass2018["Mexico"].sum()
Tot_Mex2019 = hass2019["Mexico"].sum()
Tot_Mex2020 = hass2020["Mexico"].sum()
Tot_Mex = Tot_Mex2017 + Tot_Mex2018 + Tot_Mex2019 + Tot_Mex2020

Tot_Peru2017 = hass2017["Peru"].sum()
Tot_Peru2018 = hass2018["Peru"].sum()
Tot_Peru2019 = hass2019["Peru"].sum()
Tot_Peru2020 = hass2020["Peru"].sum()
Tot_Peru = Tot_Peru2017 + Tot_Peru2018 + Tot_Peru2019 + Tot_Peru2020

Tot_Colo2017 = hass2017["Colombia"].sum()
Tot_Colo2018 = hass2018["Colombia"].sum()
Tot_Colo2019 = hass2019["Colombia"].sum()
Tot_Colo2020 = hass2020["Colombia"].sum()
Tot_Colo = Tot_Colo2017 + Tot_Colo2018 + Tot_Colo2019 + Tot_Colo2020

In [143]:
TotV_Yr = pd.DataFrame({"":["2017", "2018", "2019", "2020 (Thru 7/14/2020)", "Total"],
                        "California":[Tot_Cali2017, Tot_Cali2018, Tot_Cali2019, 
                                      Tot_Cali2020, Tot_Cali],
                        "Chile": [Tot_Chile2017, Tot_Chile2018, Tot_Chile2019,
                                  Tot_Chile2020, Tot_Chile],
                        "Mexico":[Tot_Mex2017, Tot_Mex2018, Tot_Mex2019, 
                                  Tot_Mex2020, Tot_Mex],
                        "Peru": [Tot_Peru2017, Tot_Peru2018, Tot_Peru2019, 
                                 Tot_Peru2020, Tot_Peru],
                        "Colombia": [Tot_Colo2017, Tot_Colo2018, Tot_Colo2019, 
                                     Tot_Colo2020, Tot_Colo]})
TotV_Yr = TotV_Yr.set_index("")
TotV_Yr["California"] = TotV_Yr["California"].map("{:,}".format)
TotV_Yr["Chile"] = TotV_Yr["Chile"].map("{:,}".format)
TotV_Yr["Mexico"] = TotV_Yr["Mexico"].map("{:,}".format)
TotV_Yr["Peru"] = TotV_Yr["Peru"].map("{:,}".format)
TotV_Yr["Colombia"] = TotV_Yr["Colombia"].map("{:,}".format)
TotV_Yr.head()

,California,Chile,Mexico,Peru,Colombia
,,,,,
2017,"202,077,261","80,895,572","1,734,117,320","141,663,747",0
2018,"312,759,562","58,117,187","1,988,133,064","181,231,912",0
2019,"203,914,246","32,605,791","2,145,526,431","183,265,197","50,000"
2020 (Thru 7/14/2020),"361,163,718","559,576","1,693,819,860","197,837,369","1,140,000"
Total,"1,079,914,787","172,178,126","7,561,596,675","703,998,225","1,190,000"