In [77]:
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st
from scipy.stats import linregress
pd.options.mode.chained_assignment = None

In [78]:
avocado = pd.read_csv("Project Resources/Avocado.csv")
avocado

FileNotFoundError: [Errno 2] File Project Resources/Avocado.csv does not exist: 'Project Resources/Avocado.csv'

In [60]:
hass2020 = pd.read_csv("Project Resources/Hass.csv")
hass2020["Week"] = pd.to_datetime(hass2020["Week"], infer_datetime_format=True, format="%Y/%m/%d")
hass2020.head()

,Week,Status,Total Volume,California,Chile,Mexico,Peru,Colombia
0,2020-01-05,Actual,"32,537,444","37,220","159,041","32,291,182",0,"50,000"
1,2020-01-12,Actual,"65,307,572","319,866","177,780","64,809,925",0,0
2,2020-01-19,Actual,"76,375,629","1,604,707","222,755","74,498,167",0,"50,000"
3,2020-01-26,Actual,"66,647,112","2,822,485",0,"63,774,627",0,"50,000"
4,2020-02-02,Actual,"45,414,983","2,704,489",0,"42,710,494",0,0

In [ ]:
Cali2020_tot = hass["California].sum()

In [61]:
hass2017 =pd.read_csv("Project Resources/2017_Volume_Hass.csv")
hass2017["Week"] = pd.to_datetime(hass2017["Week"], infer_datetime_format=True, format="%Y/%m/%d")
hass2017.head()

,Week,Status,Total Volume,California,Chile,Mexico,Peru,Colombia
0,2017-01-01,Actual,"35,100,521","49,737","1,023,459","34,027,325",0,0
1,2017-01-08,Actual,"40,920,289","157,060","1,526,467","39,236,762",0,0
2,2017-01-15,Actual,"53,723,606","215,612","1,468,592","52,039,402",0,0
3,2017-01-22,Actual,"55,606,793","827,113","1,445,898","53,333,782",0,0
4,2017-01-29,Actual,"44,287,021","1,027,998","1,111,063","42,147,960",0,0

In [62]:
hass2018 =pd.read_csv("Project Resources/2018_Volume_Hass.csv")
hass2018["Week"] = pd.to_datetime(hass2018["Week"], infer_datetime_format=True, format="%Y/%m/%d")
hass2018.head()

,Week,Status,Total Volume,California,Chile,Mexico,Peru,Colombia
0,2018-01-07,Actual,"45,670,156","899,349","519,433","44,251,374",0,0
1,2018-01-14,Actual,"52,758,905","830,821","449,003","51,479,081",0,0
2,2018-01-21,Actual,"54,698,266","2,913,663","445,127","51,339,476",0,0
3,2018-01-28,Actual,"45,299,201","2,698,356","95,491","42,505,354",0,0
4,2018-02-04,Actual,"47,371,481","2,635,471",0,"44,736,010",0,0

In [63]:
hass2019 = pd.read_csv("Project Resources/2019_Volume_Hass.csv")
hass2019["Week"] = pd.to_datetime(hass2019["Week"], infer_datetime_format=True, format="%Y/%m/%d")
hass2019.head()

,Week,Status,Total Volume,California,Chile,Mexico,Peru,Colombia
0,2019-01-06,Actual,"39,644,522",0,"1,111,244","38,533,278",0,0
1,2019-01-13,Actual,"73,115,987","71,558","1,154,459","71,889,970",0,0
2,2019-01-20,Actual,"73,262,502","35,452","681,725","72,545,325",0,0
3,2019-01-27,Actual,"59,200,492","306,018","676,866","58,217,608",0,0
4,2019-02-03,Actual,"45,231,823","225,945","584,756","44,421,122",0,0

In [68]:
hass = pd.concat([hass2020, hass2017, hass2018, hass2019], axis=0, join="outer", ignore_index=False)
hass

,Week,Status,Total Volume,California,Chile,Mexico,Peru,Colombia
0,2020-01-05,Actual,"32,537,444","37,220","159,041","32,291,182",0,"50,000"
1,2020-01-12,Actual,"65,307,572","319,866","177,780","64,809,925",0,0
2,2020-01-19,Actual,"76,375,629","1,604,707","222,755","74,498,167",0,"50,000"
3,2020-01-26,Actual,"66,647,112","2,822,485",0,"63,774,627",0,"50,000"
4,2020-02-02,Actual,"45,414,983","2,704,489",0,"42,710,494",0,0
...,...,...,...,...,...,...,...,...
47,2019-12-01,Actual,"49,266,022",0,"363,868","48,902,153",0,0
48,2019-12-08,Actual,"55,662,831",0,"314,608","55,348,222",0,0
49,2019-12-15,Actual,"48,427,351",0,"314,608","48,112,742",0,0
50,2019-12-22,Actual,"49,600,528",0,"177,780","49,422,746",0,0
51,2019-12-29,Actual,"33,408,342",0,"222,755","33,185,587",0,0

In [70]:
cln_hass = hass.loc[hass['Status'] == "Actual"]
cln_hass

,Week,Status,Total Volume,California,Chile,Mexico,Peru,Colombia
0,2020-01-05,Actual,"32,537,444","37,220","159,041","32,291,182",0,"50,000"
1,2020-01-12,Actual,"65,307,572","319,866","177,780","64,809,925",0,0
2,2020-01-19,Actual,"76,375,629","1,604,707","222,755","74,498,167",0,"50,000"
3,2020-01-26,Actual,"66,647,112","2,822,485",0,"63,774,627",0,"50,000"
4,2020-02-02,Actual,"45,414,983","2,704,489",0,"42,710,494",0,0
...,...,...,...,...,...,...,...,...
47,2019-12-01,Actual,"49,266,022",0,"363,868","48,902,153",0,0
48,2019-12-08,Actual,"55,662,831",0,"314,608","55,348,222",0,0
49,2019-12-15,Actual,"48,427,351",0,"314,608","48,112,742",0,0
50,2019-12-22,Actual,"49,600,528",0,"177,780","49,422,746",0,0
51,2019-12-29,Actual,"33,408,342",0,"222,755","33,185,587",0,0

In [71]:
cln_hass.dtypes

Week            datetime64[ns]
Status                  object
Total Volume            object
California              object
Chile                   object
Mexico                  object
Peru                    object
Colombia                object
dtype: object